/* BORDERS */
/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  margin: 0px;
  /* padding: 0px; */
  /* gap: 0px; */
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
/* END OF BORDERS */


/* TO TOP BUTTON */
#toTopButton {
  /* scroll-behavior: smooth; */
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  /* background-color: #444; */
  background-color: #5D8E57;
  color: white;
  cursor: pointer;
  padding: 15px;
  /* border-radius: 50px; */
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: scale(1);
}
#toTopButton:hover {
  bottom: 18px;
  right: 18px;
  /* background-color: #888; */
  background-color: #C31840;
  /* border: solid 2px #888; */
  border: solid 2px #C31840;
  /* transform: scale(1.05); */
  font-weight: bold;
}
@media (max-width: 1020px) {
  #toTopButton {
    bottom: 16px;
    right: 16px;
    transform: scale(0.9);
  }
}
/* END OF TO TOP BUTTON */


/* GET STARTED BUTTON */
#getStartedButton_LargeScreen {
  /* scroll-behavior: smooth; */
  /* display: none; */
  /* position: relative; */
  /* top: 15px; */
  /* right: 30px; */
  /* z-index: 99; */
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  /* background-color: #444; */
  background-color: #5D8E57;
  color: #fff;
  cursor: pointer;
  margin: 0%;
  padding: 15px;
  border-radius: 50px;
  /* border-top-left-radius: 30px;
  border-bottom-right-radius: 30px; */
}
#getStartedButton_LargeScreen:hover {
  /* bottom: 18px; */
  /* right: 28px; */
  text-decoration: none;
  color:#fff;
  /* background-color: #888; */
  background-color: #C31840;
  /* border: solid 2px #888; */
  /* border: solid 2px #C31840; */
  transform: scale(1.05);
  font-weight: bold;
}
#getStartedButton_LargeScreen a:hover {
  text-decoration: none;
}
#getStartedButton_LargeScreen a:active {
  text-decoration: none;
}
@media (max-width: 767px) {
  #getStartedButton_LargeScreen {
    display: none;
  }
}
#getStartedButton_SmallScreen {
  /* scroll-behavior: smooth; */
  /* display: none; */
  /* position: relative; */
  /* top: 15px; */
  /* right: 30px; */
  /* z-index: 99; */
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  /* background-color: #444; */
  background-color: #5D8E57;
  color: #fff;
  cursor: pointer;
  margin: 30% 0%;
  padding: 15px;
  border-radius: 50px;
  /* border-top-left-radius: 30px;
  border-bottom-right-radius: 30px; */
}
#getStartedButton_SmallScreen:hover {
  /* bottom: 18px; */
  /* right: 28px; */
  text-decoration: none;
  color:#fff;
  /* background-color: #888; */
  background-color: #C31840;
  /* border: solid 2px #888; */
  /* border: solid 2px #C31840; */
  transform: scale(1.05);
  font-weight: bold;
}
@media (min-width: 768px) {
  #getStartedButton_SmallScreen {
    display: none;
  }
}
/* END OF GET STARTED BUTTON */